/*PROGRESS METER*/
div.progress-bar-inner{background:$primaryColor;border-color:$primaryColor;box-shadow:none;border-radius:0;}
.yui-skin-ux .big-block, .yui-skin-ux .tiny-block{color:$bodyColor;}
.yui-skin-ux .tiny-block span {font-size:inherit;}
.yui-skin-ux .fundraising-progress .section{border: 4px solid $secondaryColor;background: none #fff;}
@media(max-width: 1023px){
	/*HIDE THEMRS ON MOBILE AS HAVE FIXED WIDTHS*/
  .fundraising-progress-bar-container, .team-fundraising-progress-bar-container{display:none;}
}






