/*Typography*/
$fontStack: 'Roboto', sans-serif;
$customFont: 'Roboto', sans-serif;
$bigFont: 28px;
$mediumLarge: 22px;
$mediumFont: 18px;
$bodyFont: 16px;
$smallFont: 14px;

/*Layout*/
$maxWidth:1000px;
$bigMargin: 70px;
$halfMargin: 35px;
$smallMargin: 20px;
$sidePad: 2.5%;

/*brand colors*/
$primaryColor: #485cc7; 
$secondaryColor: #f1b434;
$bodyColor: #888;
$linkColor: #00b5e2; 
$hoverColor: #00b5e2;
$greyColor: #d7d7d7;
$darkGrey: #a4a4ae;
$ltGrey: #f2f2f2;