/*----------------------------
CUSTOM BADGES
-----------------------------*/
.badges{
	.badge{display: inline-block;margin:$smallMargin 1.9292%;}
	span{display: block;text-align: center;font-weight:bold;}
}
/*------------------
FORMS
-------------------*/
@media(max-width:567px){
	.yui-skin-ux{ 
		#page-form {
			p.form-field .width-label, label{text-align:left;float:none;display: block;width:auto;color:$bodyColor;}
			#gift_display_personal_page, .radio-section{margin:0;}
		}
	}
}


/*--------------
INPUTS
----------------*/
@mixin inputs(){
	height:35px;
	line-height:35px;
	border:1px solid $greyColor;
	padding: 0 5px;
}
input[type="text"], div#email-contacts-content div.search input#contacts-search-text, #email-wizard-edit-contact-dialog #contactedit-dialog-form input{@include inputs();}

/*----------------------
POP UPS
-----------------------*/
/*make popups behave and not break responsive*/
.yui-skin-ux .yui-panel{width:100% !important;margin: auto;}
.yui-skin-ux .yui-panel-container{left:9% !important;right:9% !important; max-width:600px;padding: 0 1%;margin: auto;}
.ui-dialog{max-width:100%;}
@media(max-width:479px){
	#email-wizard-edit-contact-dialog #contactedit-dialog-form input{display: block;margin:0 auto $smallMargin;}
	.ui-dialog #email-wizard-edit-contact-dialog #contactedit-dialog-form label {text-align:center;margin:0;}
}

/*-------------------
LOADING BAR
---------------------*/
/*ADD LOGO TO POPULATE IN LOADING BAR*/
#wait_c .bd {height:125px;/*will need to adjust depending on logo size*/ background:url('https://secure3.convio.net/cdbox/images/content/pagebuilder/cdLogo.jpg') no-repeat center 60px scroll transparent;}
.ui-progressbar .ui-progressbar-value{background-color: $primaryColor !important;border-radius:0 !important;}/*override jQuery ui css*/
@media(max-width: 567px){
    #wait_c .bd{height:auto;background-image:none;}
}



/*--------------------
SHAPES
----------------------*/
/*Triangle*/
.arrow-right{border-bottom:$halfMargin solid transparent;border-top:$halfMargin solid transparent;border-left:$halfMargin solid $primaryColor;width:0;height:0;}
.arrow-left{border-bottom:$halfMargin solid transparent;border-top:$halfMargin solid transparent;border-right:$halfMargin solid $primaryColor;width:0;height:0;}